/* to start with good bases */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Hatton";
  src: url(./fonts/Hatton-Ultralight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Hatton";
  src: url(./fonts/Hatton.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Hatton";
  src: url(./fonts/Hatton-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Graphik";
  src: url(./fonts/Graphik-Regular-Trial.otf);
  font-weight: normal;
}
*,
*::after,
*::before,
html {
  box-sizing: border-box;
}

html {
  background-color: #f1f1f1;
  font-size: 16px;
  scroll-behavior: smooth;
  font-size: 1rem;
  color: var(--black);
}
@media only screen and (min-width: 103.75em) {
  html {
    font-size: 1.8rem;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", inter, serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden !important;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: none !important;
  color: var(--black);
  position: relative;
  padding-bottom: 0;
  border-bottom: 1px solid var(--black);
}

:root {
  --black: #2d2d2d;
  --touchColor: #eb3d0b;
  --grey: #9a959f;
  --touchFont: "hatton", "open sans";
  --bodyFont: "montserrat", "open sans", "inter", "helvetica", "roboto", "arial",
    sans-serif;
}

/* header */

.header {
  top: 0px;
  left: 0px;
  height: 75px;
  border-bottom: 1px solid var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  width: 100vw;
  padding: 10px 90px;
}

/* ---- menu clickable text in header */

.menu {
  position: relative;
}
.menu span {
  color: var(--black);
  font-size: 20;
  transition: 0.5s;
  font-weight: 100;
  will-change: transform;
  display: inline-block;
  text-transform: uppercase;
}

.s1 span {
  transform-origin: bottom;
}
.s2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}
.s2 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu:hover .s1 span {
  transform: translateY(-100%) rotateX(-90deg);
}
.menu:hover .s2 span {
  transform: translateY(0%) rotateX(0deg);
}

/* menu container */

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  color: #fff;
  z-index: 100;
  transform: translateX(500%);
}
.menu-close {
  position: absolute;
  right: 30px;
  top: 40px;
  transform: translate(-50%, -50%);
}
.menu-close ion-icon {
  font-size: 25px;
}
.menu-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.menu-items-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  margin-left: 10%;
  margin-right: 20%;
}
.menu-items .menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  font-size: 40px;
  overflow: hidden;
  font-weight: lighter;
}

.menu-items .line {
  width: 100%;
  height: 1px;
  transform-origin: left;
  overflow: hidden;
  background-color: #fcfcfc;
}

.menu-item .menu-item-number {
  font-style: italic;
  padding: 0px 20px;
  font-size: 10px;
}
.menu-item .menu-item-name {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 60px;
}
.menu-item .menu-item-sub {
  font-size: 15px;
  align-self: flex-start;
  padding: 25px 0px;
}
.menu-item .menu-item-icon {
  padding: 0px 20px;
}

.menu-item .menu-item-icon ion-icon {
  font-size: 25px;
  transform: rotate(45deg);
  font-weight: lighter;
  color: #fcfcfc;
}

span {
  overflow: hidden;
}
.line--h {
  display: inline-block;
  border-bottom: 1px solid var(--black);
  line-height: 0;
  width: 159px;
  margin-bottom: 14px;
}
/* main */
main.s-home {
  margin: 0px 120px;
}
.services-heading {
  font-size: 40px;
  font-family: "Hatton";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 45px;
}
.b-content {
  position: relative;
  left: 0;
  width: calc(80%);
  max-width: 1600px;
  margin: 30px auto;
  opacity: 1;
  transition: all 3s ease;
  -webkit-animation: FadeIn 1s ease;
  animation: FadeIn 1s ease;
}
.b-content.active {
  left: 60%;
  transition: all 3s ease;
}
@media only screen and (max-width: 47em) {
  .b-content.active {
    left: 110%;
    transition: all 4s ease;
  }
}
.b-content.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media only screen and (max-width: 47em) {
  .b-content {
    padding-left: 0;
  }
}

@media only screen and (max-width: 60.85em) {
  .h-header,
  h1 {
    font-size: 30px;
    line-height: 0;
  }
}
.m-hero {
  display: flex;
  font-family: var(--touchFont);
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
@media only screen and (max-width: 60.85em) {
  .m-hero p,
  .p {
    font-size: 16px;
    padding: 0;
  }
  .basicParagaph {
    margin-top: 35px;
  }
  p.h-header {
    margin: 0;
    padding: 0;
  }
  h1.h-header {
    margin-bottom: 5px;
  }
  .h-header,
  h1 {
    font-size: 24px !important;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 24px;
  }

  .h-subheader {
    font-size: 11px;
    font-weight: 300;
    margin-top: 20px;
  }
  .bigText {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 36px;
    font-size: 41px;
  }
  .slash {
    font-size: 34px;
    letter-spacing: -4px;
  }
  .serfiBigger {
    font-size: 45px !important;
  }
}
.h-header span {
  overflow: visible !important;
}
.coral {
  color: var(--touchColor);
}
.grey {
  color: var(--grey);
}
/* .serifItCoral {
  font-size: 20px;
  font-weight: 400;
  color: coral;
  font-family: "Vollkorn";
  font-style: italic;
  text-transform: none;
  line-height: 20px;
  overflow: visible !important;
}
.txtLeft {
  align-self: flex-start;
}
.txtRight {
  align-self: flex-end;
  margin-top: -15px;
} */
.openReg {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

h-header {
  line-height: 0px;
}
.bigText {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 36px;
  font-size: 41px;
}
.opensans {
  font-family: open sans;
}
.serif {
  font-family: "Vollkorn";
  font-weight: 400;
  font-size: 16px;
  text-transform: lowercase;
  font-style: italic;
}
.b-ajax-content {
  -webkit-animation: FadeIn 2s ease forwards;
  animation: FadeIn 2s ease forwards;
}
.b-ajax-content.transition {
  -webkit-animation: FadeOut 0.5s ease forwards;
  animation: FadeOut 0.5s ease forwards;
}

.s-work {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  padding-bottom: 0;
  border-bottom: 1px solid #eeeeee;
}
.s-work a {
  display: inline-block;
  align-self: flex-start;
}
.s-work h3 {
  margin: 0;
  font-family: "Source Sans Pro", "Open Sans", "helvetica", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.s-work h2,
.s-work .h2 {
  font-family: "Source Sans Pro", "Open Sans", "inter", "helvetica", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  text-transform: none;
  margin: 5px 0;
}
.s-work h2 a,
.s-work .h2 a {
  border: 0;
}
@media only screen and (max-width: 60.85em) {
  .s-work .s-work-label {
    display: none;
  }
}

.s-work > div {
  margin: 0 15px 0;
  padding: 60px 0;
  display: flex;
  flex: 1 0 41%;
  font-size: 0.8rem;
  align-self: flex-start;
  border-top: 1px solid #eeeeee;
}
.s-work > div .b-subheader {
  font-size: 0.6rem;
  margin-bottom: 2rem;
}
.s-work > div .b-subheader a {
  margin-right: 0.5em;
  color: #979797;
  border-bottom: 1px solid #979797;
}
.s-work > div:nth-child(odd) {
  flex-direction: column;
  padding-right: 5%;
  flex-grow: 1;
  margin: 0;
  margin-right: 0;
  border-right: 1px solid #eeeeee;
}
.s-work > div:nth-child(odd) div {
  margin: 0 0 30px 0;
}
.s-work > div:nth-child(even),
.services > div:nth-child(even) {
  flex-direction: column-reverse;
  padding-left: 5%;
  margin-left: 0;
}
.s-work > div:nth-child(even) div,
.services > div:nth-child(even) div {
  margin: 30px 0 0 0;
}
.s-work > div:last-child {
  border-left: 0;
  border-right: 0;
}
@media only screen and (max-width: 47em) {
  .s-work > div {
    margin: 0 0 30px 0;
    flex: 1 0 51%;
  }
  .s-work > div:nth-child(even) {
    flex-direction: column;
    padding: 0;
  }
  .s-work > div:nth-child(even) div {
    margin: 30px 0;
  }
  .s-work > div:nth-child(odd) {
    border-right: 0 !important;
    padding: 0;
  }
  .s-work > div:nth-child(odd) div {
    margin: 30px 0;
  }
}

.b-grid--50 {
  vertical-align: top;
  padding: 30px;
}
.b-grid--50 {
  width: 50% !important;
}
.b-subheader {
  font-size: 0.8em;
  font-family: "Source Sans Pro", "Open Sans", "helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
a.no-border {
  border: 0 !important;
}
img {
  width: 100%;
  height: auto;
}

.line-X {
  margin-top: 40px !important;
  display: flex;
  transition: all 1s ease-in-out;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.v-line {
  width: 95px;
  height: 1px;
  background: #777388;
  margin-right: 10px !important;
  transition: all 1s ease-in-out;
  margin-bottom: 0 !important;
}

.line-X a {
  color: #777388;
  text-decoration: none !important;
  letter-spacing: 2px;
  font-size: 11px;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
  border: none;
}

.line-X:hover .v-line {
  width: 70px;
}

.line-X:hover a {
  letter-spacing: 0px;
}

.s-work-nav {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  height: 10em;
  z-index: 999;
  font-size: 0.8em;
}
@media only screen and (max-width: 60.85em) {
  .s-work-nav {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.s-work-nav h1 {
  margin: 0;
}
.s-work-nav ul {
  list-style: none;
  padding: 0;
  position: fixed;
  top: 90px;
  right: 30px;
}
@media only screen and (max-width: 60.85em) {
  .s-work-nav ul {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
  }
  .s-work-nav ul li {
    display: inline-block;
    margin-right: 15px !important;
  }
}
.s-work-nav ul li {
  margin: 15px 0;
  text-align: right;
}
.s-work-nav ul li a {
  font-family: "Source Sans Pro", "Open Sans", "helvetica", sans-serif;
  font-size: 0.9em;
  color: #979797;
  border-bottom: 1px solid #979797;
}
.s-work-nav ul li a.active {
  color: var(--black) !important;
  border-bottom: 1px solid var(--black) !important;
}

.b-grid-row {
  margin-bottom: 0;
  margin-top: 0;
}

.b-grid-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px 0;
  width: 100%;
}
@media only screen and (max-width: 60.85em) {
  main.s-home {
    margin: 0px !important;
  }
  .services-heading {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  .b-grid-row {
    display: block;
  }
  .b-grid-row .b-grid--20 {
    width: 49% !important;
    display: inline-block;
  }
  .b-grid-row .b-grid--30,
  .b-grid-row .b-grid--40 {
    width: 100% !important;
  }
}
.b-grid--100 {
  width: 100% !important;
}

.b-header,
h1 {
  font-size: 5em;
}
@media only screen and (max-width: 60.85em) {
  .b-header,
  h1 {
    font-size: 3em;
  }
}

.b-line--center {
  position: relative;
  margin: 30px auto;
  height: 180px;
  width: 1px;
  background: var(--black);
}

.h-header {
  font-family: "Hatton";
  font-size: 55px;
  line-height: 76px;
  font-weight: 500;
  color: var(--black);
  text-transform: none;
}
.center {
  text-align: center;
}
.basicParagaph {
  font-family: var(--bodyFont);
  font-size: 16px;
  text-transform: none;
}
